body {margin:0px; }

#panel {background: url(personel.jpg) no-repeat; width: 300px; height: 300px; margin:0px 0px 0px 180px;}
.panel {background: url(girisbuton.jpg) no-repeat; border:none; Width:103px; height: 44px; margin:20px 0px 0px 90px;}
.input1 {margin: 144px 0px 0px 110px;}
.input2 {margin: 8px 0px 0px 110px;}
#urunkayit {background: url(urunkayit.jpg) no-repeat; width:400px; height:600px; margin:0px 0px 0px 150px;}
.urunkayit1 {margin:125px 0px 0px 150px;}
.urunkayit2 {margin:9px 0px 0px 150px;}
.kaydet {background: url(kaydet.jpg) no-repeat; border:none; width:103; height:44; margin:20px 0px 0px 160px}
#ekle {}
.ekle {background: url(ekle.jpg) no-repeat; border:none;width:104px; height:44px;}
.cikart {background: url(cikart.jpg) no-repeat; border:none;width:104px; height:44px;}
.arama {background: url(arama.jpg) no-repeat; border:none; width:104px; height:44px;}
#urunguncelle {background: url(guncelle.jpg) no-repeat; width:400px; height:600px; margin:0px 0px 0px 150px;}
.urunguncelle1 {margin:125px 0px 0px 150px;}
.urunguncelle2 {margin:9px 0px 0px 150px;}
.sil {background: url(sil.jpg) no-repeat; border:none;width:104px; height:44px;}
#kayit {background: url(perkayit.jpg) no-repeat; width:400px; height:448px; margin:0px 0px 0px 150px;}
.perkayit1 {margin:125px 0px 0px 80px;}
.perkayit2 {margin:9px 0px 0px 80px;}
#firma {background: url(firma.jpg) no-repeat; width:400px; height:564px; margin:0px 0px 0px 150px;}
.firma1 {margin:115px 0px 0px 150px;}
.firma2 {margin:2px 0px 0px 150px;}
.firmakaydet {background: url(kaydet.jpg) no-repeat; border:none; width:103; height:44; margin:20px 0px 0px 160px}